@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap");

$red: hsl(356, 100%, 66%);
$lightRed: hsl(355, 100%, 74%);
$darkBlue: hsl(208, 49%, 24%);

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
html {
  font-size: 18px;
}

header {
  font-family: "Overpass", sans-serif;
  border-radius: 0 0 0 3em;
  position: relative;
  padding: 3em 1em;
  margin-bottom: 5rem;
  background: rgb(255, 143, 112);
  background: linear-gradient(
    135deg,
    rgba(255, 143, 112, 1) 0%,
    rgba(255, 61, 84, 1) 100%
  );
  z-index: 0;
  overflow: hidden;

  &::before {
    display: block;
    content: "";
    width: 225%;
    height: 225%;
    position: absolute;
    top: -40%;
    left: -90%;
    opacity: 1;
    background-image: url("./images/bg-pattern-intro.svg");
    background-size: cover;
    z-index: -1;
  }

  .open {
    display: block;
  }

  nav {
    z-index: 2;
    display: none;
    width: calc(100% - 2em);
    overflow: hidden;
    position: absolute;
    top: 7.5em;
    background-color: hsl(0, 0%, 100%);
    border-radius: 0.3em;
    transition: max-height 0.25s ease-out;
    box-shadow: 0px 10px 21px -10px #000000;
  }

  .burger {
    position: absolute;
    top: 3.5em;
    right: 1em;
  }

  ul {
    margin: 0.75em 0.75em 0 0.75em;
    list-style-type: none;

    .mainNavLinks {
      position: relative;
      color: hsl(208, 49%, 24%);
      font-weight: 600;
      &::after {
        content: "";
        display: block;
        position: absolute;
        right: -1.5em;
        top: 0.25em;
        width: 1em;
        height: 1em;
        background: transparent url("./images/icon-arrow-dark.svg") no-repeat;
      }
    }

    .rotate {
      &::after {
        transform: rotate(180deg);
        top: -0.25em;
        right: -1em;
      }
    }

    li {
      text-align: center;
      padding: 0.75em 0;
    }

    ul {
      display: none;
      background-color: hsl(240, 5%, 95%);
      border-radius: 0.3em;
      margin-top: 1em;

      a {
        font-size: 0.9em;
        font-weight: 600;
        color: hsla(208, 49%, 24%, 0.74);
      }
    }
  }

  .right-nav ul {
    margin: 0.75em 1.5em;
    border-top: 1px solid hsl(240, 2%, 79%);
  }

  .btn-text {
    font-family: "Overpass", sans-serif;
    color: hsl(208, 49%, 24%);
    font-weight: 600;
    background-color: transparent;
    border: 0;
    font-size: 1em;
  }

  .btn-gradient {
    font-family: "Overpass", sans-serif;
    font-size: 1rem;
    color: hsl(0, 0%, 100%);
    font-weight: 600;
    border-radius: 3em;
    border: 0;
    width: 50%;
    padding: 0.75em;
    background: rgb(255, 143, 112);
    background: linear-gradient(
      90deg,
      rgba(255, 143, 112, 1) 0%,
      rgba(255, 61, 84, 1) 100%
    );
  }

  .btn-white {
    background-color: hsl(0, 0%, 100%);
    border-radius: 3rem;
    border: none;
    font-family: "Ubuntu", sans-serif;
    font-size: 1rem;
    font-weight: 700;
    padding: 0.75rem 1.25rem;
    color: $red;
  }

  .btn-transparent {
    background-color: transparent;
    border-radius: 3rem;
    border: 1px solid hsl(0, 0%, 100%);
    font-family: "Ubuntu", sans-serif;
    font-size: 1rem;
    font-weight: 700;
    padding: 0.75rem 1rem;
    color: hsl(0, 0%, 100%);
  }

  .header-btn {
    margin: 0 1rem 5rem 0;
    display: flex;
    justify-content: space-evenly;
  }
}

h1 {
  color: hsl(0, 0%, 100%);
  font-size: 2rem;
  margin-top: 5rem;
  padding: 0 0.5rem;
  text-align: center;
  font-weight: 600;
}

h2 {
  font-size: 1.75rem;
  font-family: "Overpass", sans-serif;
  color: $darkBlue;
  text-align: center;
  margin: 1rem 0;
}

h3 {
  font-size: 1.75rem;
  font-family: "Overpass", sans-serif;
  color: $darkBlue;
  text-align: center;
  margin: 1rem 1.5rem;
}

h4 {
  font-family: "Overpass", sans-serif;
  color: hsl(0, 0%, 100%);
  font-size: 1rem;
  margin: 1rem 0 3rem 0;
  padding: 0 0.5rem;
  text-align: center;
  font-weight: 300;
}

a {
  text-decoration: none;
}

main {
  img {
    width: 100%;
  }

  p {
    font-family: "Overpass", sans-serif;
    font-size: 1rem;
    color: hsl(207, 13%, 34%);
    margin: 1rem 1.5rem 2rem 1.5rem;
    text-align: center;
  }

  .desktop-illu {
    padding: 2rem 0;
  }

  .dark {
    position: relative;
    margin-top: 17.5rem;
    padding-top: 12rem;
    overflow: hidden;
    z-index: 0;
    background: rgb(44, 45, 63);
    background: linear-gradient(
      135deg,
      rgba(44, 45, 63, 1) 0%,
      rgba(63, 65, 100, 1) 100%
    );

    &::before {
      display: block;
      content: "";
      width: 100%;
      height: 100%;
      position: absolute;
      top: -30%;
      left: 0;
      opacity: 1;
      background-image: url("./images/bg-pattern-circles.svg");
      background-size: cover;
      z-index: -1;
    }

    img {
      position: absolute;
      top: -11rem;
    }
  }
}
